@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

html, body {
	height: 100%;
	min-height: 100%;
}

form {
	text-align: center;
}


body{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #74b9ff;
}

.landing {
  position: relative;
  background-image: url("../images/backgrounds/Back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin-top: -24px;
  margin-bottom: -50px;
}

.login_box {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 7%;
	width: 35%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.95;
}

.login_header {
	font-family: 'Bellota-LightItalic', sans-serif;	
	width: 100%;
	height: 90px;
	background-color: #74b9ff;
	margin: 10px 0 10px 0;
	color: #fff;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.login_header h1 {
	font-family: 'Bellota-BoldItalic', sans-serif;	
	margin-top: 0;
	margin-bottom: 0;
	color: #0984e3;
	text-shadow: #000 0.5px 0.5px 0px;
	font-size: 250%; 
}

input[type="submit"] {
	 background-color: #74b9ff;
	 border: 1px solid #0984e3;
	 border-radius: 3px;
	 margin: 10px 0 10px 0;
	 padding: 5px 10px 5px 10px;
	 color: #fff;
}


input[type="text"],[type="email"],[type="password"]{
	 border: 1px solid #e5e5e5;
	 margin-top: 5px;
	 width: 70%;
	 height: 35px;
	 margin-bottom: 10px;
	 padding-left: 5px;
}

input[type="text"]:hover, [type="email"]:hover, [type="password"]:hover{
	border-color: #3498db;
}

#second {
	display: none;
}